<div class="task-details" *ngIf="task">
  <div class="title-section">
    <div class="title-content">
      <h2 *ngIf="!isEditing">{{ task.title }}</h2>
      <input *ngIf="isEditing" type="text" [(ngModel)]="task.title" class="title-input" />
    </div>
    <mat-icon class="edit-btn" aria-hidden="false" aria-label="Edit Task" (click)="toggleEditMode()">edit</mat-icon>
  </div>
  <div class="description-section">
    <p *ngIf="!isEditing" [innerHTML]="task.description"></p>

    <div *ngIf="isEditing" class="attachments-section">
      <strong>Attachments:</strong>
      <input type="file" multiple (change)="onFileSelected($event)" />

      <ul *ngIf="task.attachments?.length">
        <li *ngFor="let file of task.attachments">
          <a href="#" (click)="openFile(file, $event)" (mouseenter)="showPreview(file)" (mouseleave)="hidePreview()">
            {{ file.name }}
          </a>
          <div class="icons">
            <mat-icon class="download-icon" (click)="downloadFile(file)">download</mat-icon>
            <mat-icon class="delete-icon" (click)="removeAttachment(file)">delete</mat-icon>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="previewUrl" class="image-preview">
      <img *ngIf="previewType === 'image' || previewType === 'video-thumbnail'" [src]="previewUrl" alt="Preview" />
      <div *ngIf="previewType === 'video-thumbnail'" class="video-placeholder">
        <p>To watch this video, please download it.</p>
      </div>
    </div>

    <angular-editor *ngIf="isEditing" [(ngModel)]="task.description" [config]="editorConfig"></angular-editor>
  </div>

  <div class="priority-status">
    <div class="priority">
      <strong>Priority:</strong>
      <span *ngIf="!isEditing" class="badge" [ngClass]="task.priority.toLowerCase()">{{ task.priority }}</span>
      <select *ngIf="isEditing" [(ngModel)]="task.priority">
        <option *ngFor="let p of priorities" [value]="p">{{ p }}</option>
      </select>
    </div>

    <div class="status">
      <strong>Status:</strong>
      <span *ngIf="!isEditing" class="badge">{{ task.status }}</span>
      <select *ngIf="isEditing" [(ngModel)]="task.status">
        <option *ngFor="let s of statuses" [value]="s">{{ s }}</option>
      </select>
    </div>
  </div>

  <div class="actions" *ngIf="isEditing">
    <button class="save-btn" (click)="saveChanges()">Save</button>
    <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>
  </div>
</div>

<div *ngIf="!task" class="no-task">
  <p>No task found.</p>
</div>
