.task-card {
  font-family: 'Inter', Arial, sans-serif;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: grab;
  width: 90%;
  border-left: 6px solid transparent;
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.18);
  }
}

.task-header {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.task-header h3 {
  flex: 1;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  color: #222;
}

.task-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-shrink: 0;
}

.task-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
  color: #444;

  &:hover {
    transform: scale(1.1);
    color: #000;
  }
}

.task-desc {
  font-size: 15px;
  color: #444;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
}
.task-card.low {
  border-left-color: green;
  background: #e6f9e6;
}

.task-card.medium {
  border-left-color: orange;
  background: #fff4e5;
}

.task-card.high {
  border-left-color: red;
  background: #ffe6e6;
}

.priority-label {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px;
  &.low {
    color: green;
  }

  &.medium {
    color: orange;
  }

  &.high {
    color: red;
  }
}
