<div class="task-board-container">
    <button class="add-column-btn" (click)="addColumn()">
      <mat-icon aria-hidden="false">add</mat-icon>
    </button>
  <div class="board-wrapper">
    <div class="task-board" cdkDropList [cdkDropListData]="statuses" (cdkDropListDropped)="onColumnDrop($event)">
      <div class="task-column" *ngFor="let status of statuses" cdkDrag>
        <div class="column-header">
          <h2>{{ status }}</h2>
          <button class="add-task-btn" (click)="openTaskDrawer(status)"><mat-icon aria-hidden="false">add</mat-icon></button>
        </div>

        <div cdkDropList [cdkDropListData]="getTasksByStatus(status)"
             (cdkDropListDropped)="onDrop($event, status)" class="task-list">
          <app-task *ngFor="let task of getTasksByStatus(status)"
                    [task]="task"
                    (edit)="onEditTask($event)"
                    (delete)="onDeleteTask($event)" cdkDrag>
          </app-task>
        </div>
      </div>
    </div>
  </div>

<div class="task-drawer" [ngClass]="{ 'open': isDrawerOpen }">
  <div class="task-drawer-content">
    <div class="drawer-header">
      <h3>{{ editingTaskId !== null ? 'Edit Task' : 'Add Task' }} ({{ selectedStatus }})</h3>
      <div class="header-buttons">
        <button class="duplicate-task-btn" (click)="DuplicateTask()">
          <mat-icon aria-hidden="false">content_copy</mat-icon>
        </button>
        <button class="close-btn" (click)="closeTaskDrawer()">
          <mat-icon aria-hidden="false">close</mat-icon>
        </button>
      </div>
    </div>

    <input type="text" [(ngModel)]="newTaskTitle" placeholder="Task Title" class="task-input" />
    <textarea [(ngModel)]="newTaskDescription" placeholder="Task Description" class="task-input"></textarea>

    <select [(ngModel)]="selectedStatus" class="task-select">
      <option *ngFor="let status of statuses" [ngValue]="status">{{ status }}</option>
    </select>

    <select [(ngModel)]="newTaskPriority" class="task-select">
      <option [ngValue]="null" disabled selected>Priority</option>
      <option [ngValue]="'Low'">Low</option>
      <option [ngValue]="'Medium'">Medium</option>
      <option [ngValue]="'High'">High</option>
    </select>

    <!-- <button class="add-task-btn" (click)="addTask()">➕ {{ editingTaskId !== null ? 'Edit Task' : 'Add Task' }}</button> -->
    <div class="task-action-buttons">
      <button class="add-task-btn" (click)="addTask()">
        <mat-icon aria-hidden="false">add</mat-icon>
      </button>
  </div>
</div>
